/* ГЛАВНАЯ СТРАНИЦА */
@media (max-width: 1250px) {
  /* Блок 1 */
  .rso_img img {
    width: 100%;
  }

  .rso_wrap {
    min-height: 600px;
  }

  .rso_box {
    width: 42%;
  }
  /* Блок 6 */
}

@media (max-width: 1180px) {
  /* Блок 1 */
  .rso_box {
    width: 49%;
  }

  .rso_text {
    max-width: 430px;
  }

  /*Блок 3 */
  .card_text_box p {
    font-size: 32px;
  }

  .card {
    width: 280px;
    height: 297px;
  }
  /* Блок 4 */

  .direction_box {
    justify-content: space-around;
  }

  /* Блок 6 */
}

@media (max-width: 1105px) {
  /* Блок 4 */
  .direction_box {
    justify-content: space-around;
  }
}

@media (max-width: 1075px) {
  /* Блок 1 */

  .rso_wrap {
    min-height: 550px;
  }

  .rso_box {
    width: 48%;
  }

  .rso_title {
    font-size: 36px;
  }

  .rso_text {
    font-size: 22px;
    max-width: 395px;
  }

  .rso_link_left,
  .rso_link_right {
    font-size: 22px;
    padding: 10px 15px;
  }

  /* Блок 2 */

  .vlg_box {
    max-width: 500px;
  }

  .vlg_text {
    font-size: 18px;
    padding-bottom: 40px;
  }

  .vlg_link {
    font-size: 18px;
    padding: 10px 0;
  }

  /* Блок 3 */

  .card {
    width: 257px;
    height: 272px;
  }

  .card_text_box p {
    font-size: 30px;
  }

  .card_back p {
    line-height: 32px;
  }
  /* Блок 5 */

  .school_link {
    padding: 15px;
  }
  /* Блок 6 */

  .slider_event {
    min-height: 400px;
  }

  .slider_subtitle h3 {
    font-size: 46px;
  }

  .slider_link_mr,
  .slider_link_febrary,
  .slider_link_close {
    padding: 5px 0;
  }
}

@media (max-width: 960px) {
  .section_contain {
    margin-bottom: 100px;
  }
  /* Блок 1 */

  .rso_wrap {
    min-height: 500px;
  }

  .rso_title {
    font-size: 32px;
  }

  .rso_text {
    max-width: 350px;
  }

  /* Блок 2 */

  .vlg_box {
    max-width: 450px;
    top: 50px;
  }

  .vlg_text {
    padding-bottom: 30px;
  }

  /* Блок 3 */

  .card {
    width: 215px;
    height: 232px;
  }

  .card_text_box p {
    font-size: 28px;
  }

  .card_back p {
    font-size: 18px;
    padding-top: 18px;
    line-height: 20px;
  }

  /* Блок 5 */

  .school_link {
    padding: 10px;
  }

  /* Блок 6 */

  .section_contain_slider {
    padding: 0 10px 100px 10px;
  }

  /* ЗАГЛУШКА */

  .text_404 {
    text-align: center;
    max-width: 600px;
  }
}

@media (max-width: 885px) {
  /* Блок 1 */

  .rso_wrap {
    min-height: 450px;
  }

  .rso_box {
    width: 52%;
  }

  .rso_linear {
    width: 55%;
  }

  /* Блок 2 */
  .vlg_box {
    max-width: 400px;
    top: 20px;
  }

  .vlg_text {
    font-size: 16px;
  }

  .vlg_link {
    font-size: 16px;
    max-width: 225px;
  }
  /* Блок 3 */

  .card_text_box p {
    font-size: 26px;
  }

  .card {
    width: 200px;
    height: 217px;
  }

  .card_back p {
    font-size: 16px;
    padding-top: 10px;
    line-height: 22px;
    padding-left: 10px;
  }
  /* Блок 5 */

  .school_link {
    font-size: 20px;
  }
  /* Блок 6 */

  .slider_subtitle h3 {
    font-size: 38px;
  }

  .slider_link_mr,
  .slider_link_febrary,
  .slider_link_close {
    padding: 3px 0;
    font-size: 22px;
    max-width: 220px;
  }

  .slider_event {
    min-height: 350px;
  }
}

@media (max-width: 785px) {
  .section_contain {
    margin-bottom: 70px;
  }

  /* Блок 1 */

  .rso_box {
    width: 58%;
  }

  .rso_wrap {
    min-height: 400px;
  }

  .rso_title {
    font-size: 30px;
  }

  .rso_text {
    max-width: 273px;
    font-size: 20px;
    line-height: 30px;
  }

  .rso_link_left {
    font-size: 20px;
  }

  .rso_link_right {
    font-size: 20px;
  }

  /* Блок 2 */
  .vlg_box {
    max-width: 350px;
  }

  .vlg_text {
    line-height: 25px;
    padding-bottom: 20px;
  }

  .vlg_link {
    padding: 8px 0;
    max-width: 215px;
  }
  /* Блок 3 */

  .actions_card_wrap {
    flex-wrap: wrap;
    max-width: 650px;
    margin: auto;
  }

  .card {
    width: 320px;
    height: 337px;
  }

  .card_text_box p {
    font-size: 30px;
  }

  .card_back p {
    font-size: 20px;
    padding-top: 25px;
    line-height: 42px;
    padding-left: 20px;
  }
  /* Блок 5 */

  .school_link {
    font-size: 18px;
  }
  /* Блок 6 */

  .slider_event {
    min-height: 300px;
    max-width: 300px;
  }

  .slider_subtitle h3 {
    font-size: 32px;
  }

  .slider_link_mr,
  .slider_link_febrary,
  .slider_link_close {
    padding: 0;
    font-size: 20px;
    max-width: 190px;
  }

  .slider_text {
    font-size: 18px;
    line-height: 40px;
  }

  .slick-dots {
    bottom: -10%;
  }

  .slider_next,
  .slider_prev {
    right: 0;
    background-size: 70%;
    height: 65px;
  }

  .section_contain_slider {
    padding: 0 10px 70px 10px;
  }
}

@media (max-width: 755px) {
  /* Блок 4 */
  .rural_box,
  .conductor_box,
  .service_box,
  .medical_box,
  .teacher_box,
  .builder_box {
    margin-bottom: 20px;
    border-radius: 40px;
  }

  .direction_box img {
    border-radius: 30px;
    max-width: 100px;
  }

  /* Футер */
}

@media (max-width: 690px) {
  /* Блок 1 */
  .rso_wrap {
    min-height: 350px;
  }

  .rso_title {
    font-size: 26px;
  }

  .rso_text,
  .rso_link_left,
  .rso_link_right {
    font-size: 18px;
  }
  /* Блок 2 */

  .vlg_box {
    max-width: 300px;
    top: 6px;
  }

  .vlg_text {
    line-height: 25px;
    padding-bottom: 10px;
  }

  .vlg_link {
    padding: 6px 0;
    max-width: 200px;
  }
  /* Блок 3 */
  .card {
    width: 285px;
    height: 302px;
  }

  .card_back p {
    font-size: 18px;
  }

  /* Блок 5 */
  .school_link {
    font-size: 16px;
    padding: 8px;
  }
  /* Блок 6 */
  .slider_subtitle h3 {
    font-size: 28px;
    line-height: 32px;
  }

  .slider_event {
    min-height: 250px;
    max-width: 250px;
  }

  .slider_text {
    line-height: 30px;
  }

  .slider_link_mr,
  .slider_link_febrary,
  .slider_link_close {
    font-size: 18px;
    line-height: 34px;
  }

  .slick-dots {
    bottom: -12%;
  }

  /* Футер */

  .footer_contacts {
    width: 40%;
  }

  .footer_right {
    width: 82%;
  }

  /* ЗАГЛУШКА */
  .text_404 {
    max-width: 450px;
    font-size: 30px;
  }

  .wrapper_404 {
    line-height: 50px;
  }
}

@media (max-width: 615px) {
  .section_contain {
    margin-bottom: 50px;
  }

  /* Блок 1 */

  .rso_wrap {
    min-height: 300px;
  }

  .rso_box {
    width: 60%;
  }

  .rso_title {
    font-size: 24px;
    margin-bottom: 5%;
  }

  .rso_text {
    line-height: 24px;
    margin-bottom: 5%;
    max-width: 205px;
    font-size: 16px;
  }

  .rso_link_left,
  .rso_link_right {
    font-size: 16px;
    padding: 8px 10px;
  }

  /* Блок 2 */
  .vlg_box {
    max-width: 250px;
    right: 15px;
    top: 3px;
  }

  .vlg_text {
    font-size: 14px;
    line-height: 20px;
  }

  .vlg_link {
    font-size: 14px;
    padding: 5px 0;
    max-width: 170px;
  }
  /* Блок 3 */
  .card {
    width: 225px;
    height: 242px;
  }

  .card_back p {
    padding-top: 15px;
    line-height: 26px;
  }
  /* Блок 5 */
  .school_link {
    padding: 6px 10px;
  }
  /* Блок 6 */

  .slider_subtitle h3 {
    font-size: 24px;
  }

  .slider_event {
    min-height: 200px;
    max-width: 200px;
  }

  .slider_link_mr,
  .slider_link_febrary,
  .slider_link_close {
    line-height: 32px;
    max-width: 170px;
  }

  .slider_next,
  .slider_prev {
    background-size: 50%;
    height: 47px;
    right: -10px;
  }

  .slick-dots li {
    width: 15px;
    height: 10px;
  }

  .section_contain_slider {
    padding: 0 10px 50px 10px;
  }

  /* Футер */
  .footer_right {
    width: 64%;
  }
}

@media (max-width: 530px) {
  /* Блок 1 */

  .rso_box {
    width: 65%;
    justify-content: space-around;
  }

  .rso_title {
    font-size: 22px;
    max-width: 240px;
  }

  .rso_text {
    display: none;
  }

  .rso_link_left,
  .rso_link_right {
    font-size: 14px;
  }

  .rso_wrap {
    min-height: 250px;
  }
  /* Блок 2 */

  .vlg_text_span {
    display: none;
  }

  .vlg_box {
    max-width: 219px;
    top: 20px;
  }
  /* Блок 3 */
  .card {
    width: 200px;
    height: 217px;
  }

  .actions_card_wrap {
    max-width: 420px;
  }

  .card_text_box p {
    font-size: 28px;
  }

  .card_back p {
    line-height: 18px;
  }
  /* Блок 5 */

  .school_link {
    padding: 4px 10px;
    font-size: 14px;
  }
  /* Блок 6 */

  .slider_text_span {
    display: none;
  }

  .slider_event {
    min-height: 180px;
    max-width: 156px;
  }

  .slider_text {
    max-width: 140px;
  }

  .slider_next,
  .slider_prev {
    width: 45px;
  }

  .slick-dots li button:before {
    font-size: 22px;
  }

  .slick-dots li {
    width: 10px;
  }

  /* Футер */

  .footer_wrap {
    flex-wrap: wrap;
  }

  .footer_contacts {
    width: 85%;
  }

  .footer_right {
    width: 97%;
    align-items: flex-start;
  }

  .footer_right_text {
    text-align: left;
  }
}

@media (max-width: 440px) {
  .section_contain {
    margin-bottom: 40px;
  }

  /* Блок 1 */
  .rso_wrap {
    min-height: 200px;
  }

  .rso_title {
    font-size: 20px;
  }

  .rso_link_left,
  .rso_link_right {
    padding: 5px 5px;
  }

  .rso_box {
    width: 67%;
  }
  /* Блок 2 */

  .vlg_box {
    max-width: 169px;
    top: 15px;
    right: 25px;
  }

  .vlg_text {
    line-height: 17px;
  }

  .vlg_link {
    padding: 4px 0;
  }
  /* Блок 3 */
  .card {
    width: 170px;
    height: 187px;
  }

  .card_text_box p {
    font-size: 24px;
  }

  .card_back p {
    padding-top: 10px;
    font-size: 14px;
    padding-left: 15px;
    line-height: 20px;
  }

  /* Блок 5 */

  .school_link {
    padding: 4px 5px;
  }
  /* Блок 6 */

  .section_contain_slider {
    padding: 0 10px 40px 10px;
  }

  .slider_subtitle h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .slider_link_mr,
  .slider_link_febrary,
  .slider_link_close {
    font-size: 16px;
    line-height: 26px;
    max-width: 140px;
  }

  .slider_event {
    min-height: 170px;
  }

  .slick-dots li button:before {
    font-size: 20px;
  }

  /* Футер */

  .footer_contacts a,
  .footer_right_text {
    font-size: 14px;
  }

  .footer_social_vk,
  .footer_social_tg {
    width: 39px;
  }

  /* ЗАГЛУШКА */
  .text_404 {
    font-size: 26px;
  }

  .wrapper_404 {
    line-height: 40px;
  }
}

@media (max-width: 385px) {
  .section_contain {
    margin-bottom: 20px;
  }

  /* Блок 1 */
  .rso_box {
    width: 77%;
  }

  /* Блок 2 */
  .vlg_box {
    max-width: 155px;
    top: 3px;
    right: 17px;
  }

  .vlg_text {
    line-height: 15px;
  }
  /* Блок 3 */
  .card {
    width: 145px;
    height: 162px;
  }

  .card_text_box p {
    font-size: 20px;
  }

  .card_text_box {
    bottom: 2%;
  }

  .card_back p {
    padding-top: 2px;
    padding-left: 10px;
    line-height: 16px;
  }
  /* Блок 4 */

  .direction_left_text {
    font-size: 20px;
  }
  /* Блок 5 */

  .school_link {
    padding: 2px 10px;
    width: 200px;
  }
  /* Блок 6 */

  .section_contain_slider {
    padding: 0 10px 20px 10px;
  }

  .slider_event {
    min-height: 145px;
    max-width: 135px;
  }

  .slider_text {
    font-size: 16px;
    max-width: 120px;
  }

  .slider_next,
  .slider_prev {
    width: 40px;
  }

  .slick-dots li button:before {
    font-size: 14px;
  }

  .slick-dots li {
    width: 5px;
  }

  .slick-dots {
    bottom: -10%;
  }
}

/* БУРГЕРЫ */

@media (max-width: 991px) {
  .header_box {
    flex-direction: row-reverse;
    justify-content: end !important;
  }

  .container {
    justify-content: end;
    flex-grow: 0;
    z-index: 2;
  }

  .header__nav {
    display: block;
    position: absolute;
    top: 55px;
    right: 0;
    background: rgb(245, 246, 246);
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.8s ease;
    top: -300%;
  }

  .down:after {
    top: 9px;
  }

  .header__menu {
    position: absolute;
    top: 34px;
    border-radius: 0 0 30px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__nav.open-menu {
    top: 55px;
  }

  .header__menu li {
    margin: 0 auto;
    padding: 10px 0;
  }

  .menu-burger__header {
    position: relative;
    width: 34px;
    height: 34px;
    display: block;
    margin-left: 10px;
    border: 1px solid #ef6705;
    border-radius: 10px;
  }

  .menu-burger__header span,
  .menu-burger__header:after,
  .menu-burger__header:before {
    height: 2px;
    width: 60%;
    left: 7px;
    display: flex;
    margin: 0 auto;
    position: absolute;
    border-radius: 1px;
    background: #515758;
  }

  .menu-burger__header span {
    top: 16px;
  }

  .menu-burger__header:after,
  .menu-burger__header:before {
    content: "";
  }

  .menu-burger__header:after {
    bottom: 5px;
  }

  .menu-burger__header:before {
    top: 5px;
  }

  .menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }

  .menu-burger__header.open-menu:before {
    transform: rotate(42deg);
    top: 14px;
    transition: 0.4s;
  }

  .menu-burger__header.open-menu:after {
    transform: rotate(-42deg);
    bottom: 16px;
    transition: 0.4s;
  }

  .content-wrapper {
    margin-top: 48px;
  }

  .fixed-pade {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .singup_btn {
    display: none;
  }
  .singup_btn_img {
    display: block !important;
  }

  .topmenu {
    background: rgba(255, 255, 255, 0.9);
  }
}

/* Медиа на меню через ЛК*/

@media (max-width: 1130px) {
  .menu_home {
    display: none !important;
  }

  .acor-container {
    display: block;
    text-align: center;
  }

  .header_box {
    flex-direction: row-reverse;
    justify-content: end !important;
  }

  .container {
    justify-content: end;
    flex-grow: 0;
    z-index: 2;
    width: auto;
    margin-left: 0;
  }

  .header__nav {
    display: block;
    position: absolute;
    right: 0;
    background: rgb(245, 246, 246);
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.8s ease;
    top: -331%;
  }

  .down:after {
    top: 9px;
  }

  .header__menu {
    position: absolute;
    top: -20px;
    border-radius: 0 0 30px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
  }

  .header_menu {
    position: absolute;
    top: 34px;
    border-radius: 0 0 30px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
  }

  .header__nav.open-menu {
    top: 100%;
  }

  .header__menu li {
    margin: 0 auto;
    padding: 10px 0;
  }

  .header_menu li {
    margin: 0 auto;
    padding: 10px 0;
  }

  .menu > li:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 1px solid #ef6705;
    transition: 0.3s;
    filter: blur(1px);
  }

  .menu > li:hover:after {
    content: "";
    display: block;
    width: 150%;
    border-bottom: 1px solid #ef6705;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0%);
    filter: blur(1px);
  }

  .menu-burger__header {
    position: relative;
    width: 34px;
    height: 34px;
    display: block;
    margin-left: 10px;
    border: 1px solid #ef6705;
    border-radius: 10px;
    cursor: pointer;
  }

  .menu-burger__header span,
  .menu-burger__header:after,
  .menu-burger__header:before {
    height: 2px;
    width: 60%;
    left: 7px;
    display: flex;
    margin: 0 auto;
    position: absolute;
    border-radius: 1px;
    background: #515758;
  }

  .menu-burger__header span {
    top: 16px;
  }

  .menu-burger__header:after,
  .menu-burger__header:before {
    content: "";
  }

  .menu-burger__header:after {
    bottom: 5px;
  }

  .menu-burger__header:before {
    top: 5px;
  }

  .menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }

  .content-wrapper {
    margin-top: 48px;
  }

  .fixed-pade {
    overflow: hidden;
  }

  /* СТИЛЬ ЛК */
  .header_photo {
    width: 15% !important;
  }

  .header_right {
    margin-right: 20px;
  }

  .header__nav.open-img {
    top: 55px;
  }
}

/* Медиа на ЛК */

@media (max-width: 768px) {
  .header_right {
    display: none !important;
  }
  .burger_icon {
    display: block !important;
  }
  .menu-burger_img {
    position: relative;
    cursor: pointer;
  }

  .img_active {
    box-shadow: 0 0 10px #ef6705;
    border-radius: 20px;
  }
}

/* ЛИЧНЫЙ КАБИНЕТ */
@media (max-width: 768px) {
  .section_wrap {
    padding: 0 10px 40px 10px;
  }
  /* Навигация */
  .section_box {
    display: none;
  }

  .main {
    padding-top: 0px;
  }

  /* Профиль */
  /* Блок 1 */
  .profile_right {
    padding: 40px 30px;
    max-width: 300px;
  }

  /* Мои мероприятия */
  /* Блок 1 */
  .slider_link {
    min-height: 150px;
  }

  .slider_text_events,
  .slider_data {
    font-size: 18px;
  }

  .slider_prev_events {
    background-size: 130%;
    top: 20%;
  }

  .slider_next_events {
    width: 33px;
    background-size: 100%;
    top: 20%;
  }

  /* Настройки */
  /* Блок 1 */

  .setting_textarea {
    width: 270px;
    height: 160px;
  }
}

@media (max-width: 660px) {
  /* Профиль */
  /* Блок 1 */

  .profile {
    justify-content: space-around;
  }

  .profile_left {
    max-width: 220px;
  }

  .profile_left_question {
    text-align: center;
  }

  .profile_right {
    padding: 30px 25px;
    max-width: 250px;
  }

  .profile_right_info {
    flex-direction: column;
  }

  /* Блок 2 */

  .events_img {
    border-radius: 30px;
  }

  /* Мои мероприятия */
  /* Блок 1 */

  .slider_link {
    min-height: 110px;
  }

  /* Настройки */
  /* Блок 1 */

  .setting_textarea {
    width: 220px;
    height: 110px;
    border-radius: 40px;
  }
}

@media (max-width: 560px) {
  /* Профиль */
  /* Блок 1 */

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile_left {
    max-width: 250px;
    padding-bottom: 20px;
  }

  .profile_right {
    padding: 30px 25px;
    max-width: 330px;
  }

  .profile_right_info {
    justify-content: space-between;
    flex-direction: inherit;
  }
  /* Блок 2 */

  .events_wrapper_img {
    flex-direction: column;
    margin-bottom: 0;
  }

  .events_wrap_img {
    width: 85%;
    padding-bottom: 10px;
  }
  /* Блок 3 */

  .squad_post_wrap {
    flex-direction: column;
  }

  .squad_post_bottom {
    width: 100%;
    padding-bottom: 10px;
  }

  /* Мой отряд */
  /* Блок 1 */

  .troop_img_right {
    display: none;
  }

  .troop_img_top {
    display: block;
  }

  /* Мои мероприятия */
  /* Блок 1 */
  .slider_link {
    min-height: 90px;
  }

  .slider_text_events,
  .slider_data {
    font-size: 16px;
  }

  .slick-list {
    padding: 0 0 35px;
  }

  .slider_dots {
    bottom: -26px;
  }

  .slider_subtitle {
    font-size: 20px;
  }

  /* Настройки */
  /* Блок 1 */

  .profile_left_exit {
    display: none;
  }

  .profile_exit_bottom {
    display: block;
  }
}

@media (max-width: 460px) {
  /* Профиль */
  /* Блок 1 */

  .profile_right_info {
    flex-direction: column;
  }

  /* Мои мероприятия */
  /* Блок 1 */

  .slider_link {
    min-height: 65px;
    display: flex;
    justify-content: center;
  }

  .slider_img {
    width: 65%;
  }

  .slider_text_events,
  .slider_data {
    font-size: 14px;
  }

  .history_events {
    padding: 20px 10px 20px 10px;
    flex-wrap: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .history_events_wrap {
    width: 90%;
  }

  .history {
    padding: 20px 20px;
  }

  .history_top {
    padding-bottom: 15px;
  }
}

/* Модальные окна */

@media (max-width: 865px) {
  /* Модалка профиля */
  .modal_wrap_img {
    max-width: 215px;
  }

  .modal_img {
    width: 100%;
  }

  .modal_right {
    padding: 20px 30px;
    max-width: 280px;
    margin-top: 10px;
  }

  .modal_wrap {
    flex-direction: column;
    align-items: center;
  }

  /* Модалка обратной связи */
  .modal_wrapper {
    max-width: 380px;
  }

  .modal_textarea {
    width: 300px;
    height: 360px;
  }

  .modal_exit {
    padding: 0 20px;
    flex-direction: column;
  }

  .modal_text {
    margin-bottom: 10px;
  }

  .modal_exit_text {
    text-align: center;
    margin-bottom: 10px;
  }

  .modal_feedback {
    padding: 30px;
  }

  .modal_text_feedback {
    font-size: 26px;
    max-width: 295px;
  }
}

@media (max-width: 515px) {
  /* Модалка профиля */
  .modal_wrap_img {
    display: none;
  }

  .modal_right {
    max-width: 200px;
    margin-top: 20px;
  }

  .modal_right_info {
    flex-direction: column;
  }

  .close_wrap {
    right: 15px;
    top: 13px;
    max-width: 30px;
  }

  .close_wrap_img {
    width: 100%;
  }

  /* Модалка обратной связи */
  .modal_wrapper {
    max-width: 295px;
  }

  .modal_textarea {
    width: 220px;
    height: 300px;
  }

  .modal_feedback {
    padding: 30px 10px;
  }

  .modal_text_feedback {
    font-size: 20px;
    max-width: 225px;
  }
}

/* Страница заглушки */

.main_404 {
  height: 100vh;
  background: url(./img/icon.png) 0 / 50%,
    radial-gradient(
      115% 93.35% at 77.19% 15.86%,
      rgba(229, 16, 54, 0.608) 0%,
      rgba(255, 15, 0, 0) 47.64%,
      rgba(255, 15, 0, 0) 100%
    ),
    radial-gradient(
      81.35% 68.09% at 16.56% 31.05%,
      rgba(20, 160, 196, 0.8) 38.78%,
      rgba(19, 167, 205, 0) 95.34%
    ),
    radial-gradient(
      49.65% 116.97% at 16.11% 91.9%,
      #ff8228 0%,
      rgba(239, 103, 5, 0) 74.72%
    ),
    radial-gradient(
      98.78% 65.95% at 80.17% 79.72%,
      rgba(166, 197, 53, 0.826354) 59.62%,
      rgba(160, 190, 53, 0) 92.95%,
      rgba(160, 190, 53, 0) 100%
    ),
    radial-gradient(
      80.42% 29% at 65.45% 43.07%,
      #ff88ac 0%,
      rgba(232, 128, 49, 0.984375) 0%,
      #ffffff 100%
    );
  display: grid;
}

.wrapper_404 {
  line-height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.text_404 {
  font-size: 40px;
  font-family: "Montserrat-SemiBold";
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
